:root {
  --main-font: Noto Sans, sans-serif;
  --main-color: #3d3535;
  --secondary-color: #f7f2f2;
}

body {
  font-family: var(--main-font);
  padding: 20px;
  background-color: #e6d9d9;
  font-size: 16px;
  min-height: 100vh;
  text-align: center;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f7f2f2;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: relative
}

.imageWrapper {
  position: relative;
  height: 320px;
  width: 100%;
  background: linear-gradient(to bottom, #9ca3af, #6b7280);
  overflow: hidden;
  border-radius: 10px;
}

.userImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  filter: sepia(20%) saturate(80%);
}

.userName {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: var(--secondary-color);
  margin: 0;
}

.userNick {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: var(--secondary-color);
  margin: 0;
}

.addButton {
  position: absolute;
  top: 292px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ef4444;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  z-index: 4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.userNumbers {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 2rem;
    padding-bottom: 15px;
    width: 100%;
}

.statItem {
    text-align: center;
}

.statLabel {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 5px 0;
}

.statNumber {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
}
